{{define "index"}}
{{template "header" .}}

<div class="row justify-content-center">

    <div class="row col-12">
        <div class="col-md-6 col-12">

            {{ if  .AccountStats }}
                <div class="row">
                    <section class="block">
                        <div class="col-12 block__title">
                            <h1><span>Account Information</span></h1>
                        </div>
                        <div class="col-12 block__content">
                            
                            <p>Address: {{.Address}}</p>
                            <p>Account: {{.AccountStats.AccountID}}</p>
                            <p>Blocks Mined by this Account</p>
                            <div style="overflow: auto; max-height: 250px;">
                                <table class="table">
                                    <tr>
                                        <th>Height</th>
                                        <th>Confirmed</th>
                                        <th>Miner</th>
                                    </tr>
                                    {{ range .AccountStats.MinedWork }}
                                    <tr>
                                        <td><a href={{$.BlockExplorerURL}}/block/{{.Height}} rel="noopener noreferrer">{{.Height}}</a></td>
                                        <td>{{.Confirmed}}</td>
                                        <td>{{.Miner}}</td>
                                    </tr>
                                    {{else}}
                                    <tr>
                                        <td colspan="100%">No mined work</td>
                                    </tr>
                                    {{end}}
                                </table>
                            </div>

                            <p>Connected Clients</p>
                            <div style="overflow: auto; max-height: 250px;">
                                <table class="table">
                                    <tr>
                                        <th>Miner</th>
                                        <th>Hash Rate</th>
                                    </tr>
                                    {{ range .AccountStats.Clients }}
                                        <tr>
                                            <td>{{.Miner}}</td>
                                            <td>{{hashString .HashRate}}</td>
                                        </tr>
                                    {{else}}
                                        <tr>
                                            <td colspan="100%">No connected clients</td>
                                        </tr>
                                    {{end}}
                                </table>
                            </div>

                            <p>Payments made to this Account</p>
                            <div style="overflow: auto; max-height: 250px;">
                                <table class="table">
                                    <tr>
                                        <th>Estimated Maturity</th>
                                        <th>Height</th>
                                        <th>Amount</th>
                                        <th>Created On</th>
                                        <th>Paid on Height</th>
                                    </tr>
                                    {{ range .AccountStats.Payments }}
                                    <tr>
                                        <td>{{.EstimatedMaturity}}</td>
                                        <td>{{.Height}}</td>
                                        <td>{{ printf "%.3f" .Amount.ToCoin }}&nbsp;DCR</td>
                                        <td>{{ time .CreatedOn }}</td>
                                        <td>{{.PaidOnHeight}}</td>
                                    </tr>
                                    {{else}}
                                    <tr>
                                        <td colspan="100%">No payments for account</td>
                                    </tr>
                                    {{end}}
                                </table>
                            </div>
                        </div>
                    </section>
                </div>

            {{else}}

                <div class="row">

                    {{ with .Error }}
                        <div class="snackbar snackbar-error">
                            <div class="snackbar-message">
                                <p>{{.}}</p>
                            </div>
                        </div>
                    {{end}}

                    <section class="block">
                        <div class="col-12 block__title">
                            <h1><span>Mining Pool Overview</span></h1>
                        </div>
                        <div class="col-12 block__content">
                            <p>Voting Service Providers (VSPs) allow you to participate in Decred’s proof-of-stake (PoS) system without the need to keep a constantly unlocked wallet or worry about losses due to downtime, flaky internet.</p>

                            <p>VSPs are used to delegate your voting powers. The VSP can cast a vote on your behalf when a ticket is called to vote. VSPs do not hold, manage, or transfer any of your DCR funds. The VSP cannot steal your funds.</p>

                            <a href="/" class="btn btn-outline-primary btn-outline-primary--inverted d-lg-inline-block d-block mb-3" rel="noopener noreferrer">Register</a>
                        </div>
                    </section>
                </div>

            {{end}}

        </div>
        <div class="col-md-6 col-12">

            <div class="row ml-md-1">
                <section class="block">
                    <div class="col-12 block__title">
                        <h1><span>Pool Information</span></h1>
                    </div>
                    <div class="col-12 block__content">
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="d-lg-flex align-items-start align-items-lg-center">
                                    <img class="info-icon mb-1" src="/images/miningPow.svg" alt="">
                                    <p class="ml-lg-3 mb-0"><strong>Pool Hash Rate:&nbsp;</strong>{{ hashString .PoolHashRate }}</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-lg-flex align-items-start align-items-lg-center">
                                    <img class="info-icon mb-1" src="/images/blockHeight.svg" alt="">
                                    <p class="ml-lg-3 mb-0"><strong>Last Work Height:&nbsp;</strong>{{ .PoolStats.LastWorkHeight }}</p>
                                </div>
                            </div>
                        </div>
                        {{ if not .SoloPool }}
                        <div class="row mb-3">
                            <div class="col-6">
                                <div class="d-lg-flex align-items-start align-items-lg-center">
                                    <img class="info-icon mb-1" src="/images/cryptocurrency.svg" alt="">
                                    <p class="ml-lg-3 mb-0"><strong>Payment Method:&nbsp;</strong>{{ upper .PaymentMethod }}</p>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-lg-flex align-items-start align-items-lg-center">
                                    <img class="info-icon mb-1" src="/images/blockrewardOpen.svg" alt="">
                                    <p class="ml-lg-3 mb-0"><strong>Last Payment Height:&nbsp;</strong>{{ .PoolStats.LastPaymentHeight }}</p>
                                </div>
                            </div>
                        </div>
                        {{end}}
                    </div>
                </section>
            </div>

            <div class="row ml-md-1">
                <section class="block">
                    <div class="col-12 block__title">
                        <h1><span>Next Reward Payment</span></h1>
                    </div>
                    <div class="col-12 block__content">
                        <div style="overflow: auto; max-height: 250px;">
                            <table class="table">
                                <tr>
                                    <th>Account</th>
                                    <th>Reward Percentage</th>
                                </tr>
                                {{ range .WorkQuotas }}
                                    <tr>
                                        <td>{{ printf "%.12s" .AccountID}}...</td>
                                        <td>{{percentString .Percentage}}</td>
                                    </tr>
                                {{else}}
                                    <tr>
                                        <td colspan="100%">No work quotas</td>
                                    </tr>
                                {{end}}
                            </table>
                        </div>
                    </div>
                </section>
            </div>
            
            <div class="row ml-md-1">
                <section class="block">
                    <div class="col-12 block__title">
                        <h1><span>Blocks Mined by Pool</span></h1>
                    </div>
                    <div class="col-12 block__content">
                        <div style="overflow: auto; max-height: 400px;">
                            <table class="table">
                                <tr>
                                    <th>Height</th>
                                    <th>Miner</th>
                                    <th>Mined By</th>
                                </tr>
                                {{ range .PoolStats.MinedWork }}
                                <tr>
                                    <td><a href={{$.BlockExplorerURL}}/block/{{.Height}} rel="noopener noreferrer">{{.Height}}</a></td>
                                    <td>{{.Miner}}</td>
                                    <td>{{ printf "%.12s" .MinedBy}}...</td>
                                </tr>
                                {{else}}
                                <tr>
                                    <td colspan="100%">No mined work</td>
                                </tr>
                                {{end}}
                            </table>
                        </div>
                    </div>
                </section>
            </div>

        </div>
    </div>

</div>

{{template "footer" .}}
{{end}}