{{define "admin"}}
{{template "header" .}}

<div class="col">
    
    <div class="row justify-content-around align-items-center">
        
        <div class="row">
            <section class="block">
                <div class="col-12 block__content">
                    <p>Click this button to download a snapshot of the dcrpool database.</p>
                    <form action="/backup" method="post">
                        {{.CSRF}}
                        <button type="submit" class="btn btn-primary">Download Backup</button>
                    </form>

                </div>
            </section>
        </div>

        <div class="row">
            <section class="block">
                <div class="col-12 block__content">
                    <form action="/logout" method="post">
                        {{.CSRF}}
                        <button type="submit" class="btn btn-primary">Logout</button>
                    </form>
                </div>
            </section>
        </div>
    
    </div>

    <div class="row justify-content-center">

        <div class="row">
            <section class="block">
                <div class="col-12 block__title">
                    <h1><span>All Connected Miners</span></h1>
                </div>
                <div class="col-12 block__content">
                    <div style="overflow: auto; max-height: 250px;">
                        <table class="table">
                            <tr>
                                <th>Account</th>
                                <th>IP</th>
                                <th>Miner</th>
                                <th>Hash Rate</th>
                            </tr>
                            {{range $accountID, $clients := .Connections}}
                                {{range $client := $clients}}
                                    <tr>
                                        <td>{{$accountID}}</td>
                                        <td>{{$client.IP}}</td>	                                
                                        <td>{{$client.Miner}}</td>
                                        <td>{{hashString $client.HashRate}}</td>
                                    </tr>
                                {{end}}
                            {{else}}
                                <tr>
                                    <td colspan="100%">No miners connected</td>
                                </tr>
                            {{end}}
                        </table>
                    </div>
                </div>
            </section>
        </div>

    </div>

</div>

{{template "footer" .}}
{{end}}
