{{define "admin"}}
{{template "header" .HeaderData}}

<div class="pool-overview pt-4 pb-3 mb-3">
    <div class="container">


        <div class="d-flex flex-wrap">
            <h1 class="mr-auto text-nowrap">Admin Panel</h1>
            
            <div class="row mr-1">
                <form class="p-2" action="/backup" method="post">
                    {{.HeaderData.CSRF}}
                    <button type="submit" class="btn btn-primary" style="padding:6px 6px; font-size: 12px;">Backup</button>
                </form>
                
                <form class="p-2" action="/logout" method="post">
                    {{.HeaderData.CSRF}}
                    <button type="submit" class="btn btn-primary" style="padding:6px 6px; font-size: 12px;">Logout</button>
                </form>
            </div>
        </div>
            
        {{template "pool-stats" .PoolStatsData}}

    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-12 p-3">
            <div class="block__content">
                <h1>All Connected Miners</h1>
                <div class="overflow-auto">
                    <table class="table">
                        <tr>
                            <th>Account</th>
                            <th>IP</th>
                            <th>Miner</th>
                            <th>Hash Rate</th>
                        </tr>
                        {{range $accountID, $clients := .Connections}}
                        {{range $client := $clients}}
                        <tr>
                            <td><span class="dcr-label">{{$accountID}}</span></td>
                            <td>{{$client.IP}}</td>
                            <td>{{$client.Miner}}</td>
                            <td>{{hashString $client.HashRate}}</td>
                        </tr>
                        {{end}}
                        {{else}}
                        <tr>
                            <td colspan="100%"><span class="no-data">No miners connected</span></td>
                        </tr>
                        {{end}}
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>

<script src='/js/socket.js'></script>

</body>
</html>
{{end}}