{{define "index"}}
{{template "header" .HeaderData}}

{{ if .ModalError }}
<div class="modal fade" id="error-modal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title">Invalid Address</h1>
                <button type="button" class="modal-close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <p>{{ .ModalError }}</p>
                <div class="d-flex flex-row pt-4 align-items-center">
                    <button class="btn btn-primary ml-auto" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $("#error-modal").modal();
</script>
{{ end }}

<noscript style="display:inherit;">
    <div class="snackbar snackbar-warning">
        <div class="snackbar-message">
            <p>Javascript seems to be disabled. This will break some site features.</p>
        </div>
    </div>
</noscript>

<div class="pool-overview pt-4 pb-3 mb-3">
    <div class="container">

        <h1>Mining Pool Overview</h1>

        <p class="pt-1 pb-2">To mine, point your miner to the pool and set the username as described below in the miner
            configuration section.</p>

        {{template "pool-stats" .PoolStatsData}}

    </div>
</div>

<div class="container">

    <div class="row">

        <div class="col-12">
            <div class="main-carousel">
                <div class="carousel-cell">
                    <div class="row m-0 h-100">
                        <div class="col-lg-4 col-12 main-carousel__image-container text-center">
                            <div class="carousel-image" style="background-image:url('/assets/images/carousel_1.svg');">
                            </div>
                        </div>
                        <div class="carousel-text col-lg-8 col-12 px-4">
                            <h2>Identify the Miner</h2>
                            <p>{{.HeaderData.Designation}} pool currently supports the miners and firmwares listed
                                below:</p>
                            <div class="d-flex flex-row">
                                <ul>
                                    <li>Innosilicon&nbsp;D9: <a
                                            href="http://www.innosilicon.com.cn/download/d9_20190521_071217.swu">d9_20190521_071217.swu</a>
                                    </li>
                                    <li>Antminer&nbsp;DR3: <a
                                            href="https://file12.bitmain.com/shop-product/firmware/Antminer%20DR3/Firmware/007201907271437364778LxDsS1k06AF/Antminer-DR3-201907161805-410M.tar.gz">Antminer-DR3-201907161805-410M.tar.gz</a>
                                    </li>
                                    <li>Obelisk&nbsp;DCR1: <a
                                            href="https://mining.obelisk.tech/downloads/firmware/obelisk-sc1-v1.3.2.img">obelisk-sc1-v1.3.2.img</a>
                                    </li>
                                    <li>Antminer&nbsp;DR5: <a
                                            href="https://file12.bitmain.com/shop-product/firmware/Antminer%20DR5/Firmware/00720190727142534231Ato7d2300650/Antminer-DR5-201907161801-600M.tar.gz">Antminer-DR5-201907161801-600M.tar.gz</a>
                                    </li>
                                    <li>Whatsminer&nbsp;D1: <a
                                            href="https://github.com/decred/dcrpool/files/5651882/upgrade-whatsminer-h6-20190404.18.zip">upgrade-whatsminer-h6-20190404.18.zip</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="row m-0 h-100">
                        <div class="col-lg-4 col-12 main-carousel__image-container text-center">
                            <div class="carousel-image" style="background-image:url('/assets/images/carousel_2.svg');">
                            </div>
                        </div>
                        <div class="carousel-text col-lg-8 col-12 px-4">
                            <h2>Connect the Miner</h2>
                            <p>To connect, set the pool URL to <span class="config">'localhost'</span>, and the miner
                                port to <span class="config">{{.MinerPort}}</span></p>
                            <p>The username of the miner should be the payment address for receiving rewards and a
                                unique name identifying the client, formatted as <span
                                    class="config">'address.name'</span></p>
                        </div>
                    </div>
                </div>
                <div class="carousel-cell">
                    <div class="row m-0 h-100">
                        <div class="col-lg-4 col-12 main-carousel__image-container text-center">
                            <div class="carousel-image" style="background-image:url('/assets/images/carousel_3.svg');">
                            </div>
                        </div>
                        <div class="carousel-text col-lg-8 col-12 px-4">
                            <h2>Confirm Miner Connection</h2>
                            <p>To confirm a miner connection, look up its account information with
                                its associated miner address.</p>
                            <p>The miner should be listed as a connected miner with its
                                curent hash rate in the 'Connected Clients' section.</p>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="carousel-nav col-12">
            </ul>


        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 col-12 p-3">
            <div class="block__content">
                <h1>Mined by Pool</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Height</th>
                            <th>Miner</th>
                            <th>Mined By</th>
                        </tr>
                    </thead>
                    <tbody id="blocks-table">
                        {{ range .MinedWork }}
                        <tr>
                            <td><a href="{{ .BlockURL }}" rel="noopener noreferrer">{{ .BlockHeight }}</a></td>
                            <td>{{ .Miner }}</td>
                            <td><span class="dcr-label">{{ .MinedBy }}</span></td>
                        </tr>
                        {{ else }}
                        <tr>
                            <td colspan="100%"><span class="no-data">No mined blocks</span></td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

                <div id="blocks-page-select" class="page-select"></div>

            </div>
        </div>

        {{ if not .PoolStatsData.SoloPool}}
        <div class="col-lg-6 col-12 p-3">
            <div class="block__content">
                <h1>Next Reward Payment</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Reward Percentage</th>
                            <th>Account</th>
                        </tr>
                    </thead>
                    <tbody id="reward-quotas-table">
                        {{ range .RewardQuotas }}
                        <tr>
                            <td>{{ .Percent }}</td>
                            <td>
                                <span class="dcr-label">{{ .AccountID }}</span>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>

                <div id="reward-quotas-page-select" class="page-select"></div>

            </div>
        </div>

        {{end}}

    </div>
</div>

<script src='/assets/js/carousel.js'></script>
<script src='/assets/js/socket.js'></script>
<script src='/assets/js/modal.js'></script>
<script src='/assets/js/pagination.js'></script>

</body>

</html>
{{end}}