{{define "index"}}
{{template "header" .}}


{{ with .Error }}
<div class="snackbar snackbar-error">
    <div class="snackbar-message">
        <p>{{.}}</p>
    </div>
</div>
{{end}}

<noscript style="display:inherit;">
    <div class="snackbar snackbar-warning">
        <div class="snackbar-message">
            <p>Javascript seems to be disabled. This will break some site features.</p>
        </div>
    </div>
</noscript>

<div class="pool-overview pt-4 pb-3">
    <div class="container">

        <h1>Mining Pool Overview</h1>

        <p class="pt-1 pb-2">To mine, point your miner to the pool and set the username as described below in the miner
            configuration section.</p>
        
        {{template "pool-stats" .PoolStats}}
        
    </div>
</div>
    
<div class="container">

    <div class="row">

        <div class="col-12 p-3">
            <div class="block__content">
                <h1>Miner Configuration</h1>
                <div class="main-carousel">
                    <div class="carousel-cell">
                        <div class="row">
                            <div class="col-lg-6 col-12 main-carousel__image-container px-0 pl-lg-3 py-3 text-center">
                                <picture>
                                    <img src="/images/carousel_1.png" class="img-fluid">
                                </picture>
                            </div>
                            <div class="col-lg-6 col-12 pl-3">
                                <h2>Identify the Miner</h2>
                                <p>dcrpool currently supports:</p>
                                <ul>
                                    <li>Innosilicon D9</li>
                                    <li>Antminer DR3</li>
                                    <li>Antminer DR5</li>
                                    <li>Whatsminer D1</li>
                                </ul>
                                <p>For Innosilicon D9 the pool only supports <a href="https://drive.google.com/open?id=1wofB_OUDkB2gxz_IS7wM8Br6ogKdYDmY">D9_20180602_094459.swu</a> 
                                    firmware, ensure the D9 has the supported firmware before connecting.</p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="row">
                            <div class="col-lg-6 col-12 main-carousel__image-container px-0 pl-lg-3 py-3 text-center">
                                <picture>
                                    <img src="/images/carousel_2.png" class="img-fluid">
                                </picture>
                            </div>
                            <div class="col-lg-6 col-12 pl-3">
                                <h2>Connect the Miner</h2>
                                <p>To connect, set the pool URL to <span class="config">'localhost'</span>, and the miner port to:</p>
                                <ul>
                                    <li>
                                        <span class="config">{{.MinerPorts.innosilicond9}}</span>&nbsp;(Innosilicon D9)
                                    </li>
                                    <li>
                                        <span class="config">{{.MinerPorts.antminerdr3}}</span>&nbsp;(Antminer DR3)
                                    </li>
                                    <li>
                                        <span class="config">{{.MinerPorts.antminerdr5}}</span>&nbsp;(Antminer DR5)
                                    </li>
                                    <li>
                                        <span class="config">{{.MinerPorts.whatsminerd1}}</span>&nbsp;(Whatsminer D1)
                                    </li>
                                </ul>
                                <p>The username of the miner should be the payment address for receiving rewards and a unique name identifying the client, formatted as <span class="config">'address.name'</span></p>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-cell">
                        <div class="row">
                            <div class="col-lg-6 col-12 main-carousel__image-container px-0 pl-lg-3 py-3 text-center">
                                <picture>
                                    <img src="/images/carousel_3.png" class="img-fluid">
                                </picture>
                            </div>
                            <div class="col-lg-6 col-12 pl-3">
                                <h2>Confirm Miner Connection</h2>
                                <p>To confirm a miner connection, look up its account information with 
                                    its associated miner address. It should be listed as a connected miner with its 
                                    curent hash rate in the 'Connected Clients' section if connected.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="carousel-nav col-12 m-0">
                </ul>


            </div>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-6 col-12 p-3">
            <div class="block__content">
                <h1>Mined by Pool</h1>
                <table id="mined-blocks-table" class="table">
                    <thead>
                        <tr>
                            <th data-sort-method="number" data-sort-default>Height</th>
                            <th data-sort-method="none">Miner</th>
                            <th data-sort-method="none">Mined By</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .MinedWork }}
                        <tr data-row-id="{{ .BlockHeight }}">
                            <td><a href="{{ .BlockURL }}" rel="noopener noreferrer">{{ .BlockHeight }}</a>
                            </td>
                            <td>{{ .Miner }}</td>
                            <td>
                                <span class="dcr-label">{{ .MinedBy }}</span>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>

        {{ if not .PoolStats.SoloPool}}
        <div class="col-md-6 col-12 p-3">
            <div class="block__content">
                <h1>Next Reward Payment</h1>

                <table id="work-quota-table" class="table">
                    <thead>
                        <tr>
                            <th data-sort-method='number' data-sort-default>Reward Percentage</th>
                            <th data-sort-method='none'>Account</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .WorkQuotas }}
                        <tr data-row-id="{{ .AccountID }}">
                            <td>{{ .Percent }}</td>
                            <td>
                                <span class="dcr-label">{{ .AccountID }}</span>
                            </td>
                        </tr>
                        {{end}}
                    </tbody>
                </table>
            </div>
        </div>

        {{end}}

    </div>
</div>

<script src='/js/carousel.js'></script>
<script src='/js/socket.js'></script>
<script src='/js/modal.js'></script>

</body>
</html>
{{end}}