{{define "login"}}
{{template "header" .}}

<div class="row justify-content-center">
    <form action="/admin" method="post">
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Enter password">
        </div>
        {{.CSRF}}
        <button type="submit" class="btn btn-primary m-2">Submit</button>
        <a href="/" rel="noopener noreferrer" class="m-2" style="color:#99C1E3">Homepage</a>
    </form>
</div>

{{template "footer" .}}
{{end}}